@use 'sass:math';
$color:rgb(160, 22, 160);

.ToDo{margin: 25px auto; 
    width: math.div(700px, 1366px) * 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: red;
        font-style: italic;
        // text-align: center;
        font-size: 1.5rem;
    }
    Input{
        margin: 5px auto;
        align-self: center;
        width:80%;
    }
    Button {
        align-self: flex-end;
        margin-right: 10%;
    }
    div {
        align-self: flex-start;
        margin-left: 5%;
        width: 80%;
        color: $color;
        font-size: 1.1rem; 
        
    }

}
:global(.ant-list) {
    border: 1px solid $color;
    padding-left: 5px;
    margin: 3px 0;
    width: 80%;
}
:global(.ant-layout) {
    height: 700px;
}
:global(.ant-form){
    width:80%;
    margin: auto;
    border: 1px solid $color;
    padding: 10px;
    background-color: #ddd;
}